html, body, h1 {
    margin:0;
    padding:0;
}
html{
    background-image:url("https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148808256.jpg?w=2000");
}
article, aside, section, header, footer, nav{
    display: block;
}

#principal{
    background-color: rgb(0, 0, 0);
  width: 660px;
  box-shadow: 0 0 10px #666;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  color: red;
}
#conteudo{
    background-color: rgb(0, 0, 0);
    border: 1px dotted #666;
    margin-top: 20px;
    
}
section{
    width: 200px;
}
.janela1{
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 90px;
    left: 660px;
    height: 400px;
    overflow: scroll;
    color: red;
    width: 600px;
}

