.janela1{

    background:radial-gradient(white,black,red);
    border-radius: 15px;
 position: absolute;
 top: 10px;
 left: 10px;
    
}

.janela2{

    background:radial-gradient(white,black,red);
    border-radius: 15px;
    position: absolute;
    top: 40px; left: 40px;
    
}
.janela3{
   
    background:radial-gradient(white,black,red);
    border-radius: 15px;
   top: 70px; left: 70px;
   position: absolute;
    
}
.janela4{
    background:radial-gradient(white,black,red);
    border-radius: 15px;
   top: 100px; left: 100px;
   position: absolute;
}
html, body, h1 {
    margin:0;
    padding:0;
}
html{
    background-image:url("https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148808256.jpg?w=2000");
}
article, aside, section, header, footer, nav{
    display: block;
}
main{
    width: 660px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0 0 10px #666;
    margin:10px auto;
    padding:10px ;
    position: relative;
    height: 500px;
    /*background-image: url("https://pbs.twimg.com/profile_images/1531810783117594626/ljZzGm4v_400x400.jpg");*/
}
#principal{
    background-color: white;
    border: solid 1px dotted red;
    margin-top: 20px;
    position: relative;
   
}
section{
    height: 100px ;
    width: 100px;
    padding: 10px;
}
h1, p{
    color: red;
}
