.janela1{

    background-color: green;
    border-radius: 15px;
    position: static;
    margin-top: 20px;
    margin-left: 20px;
    
}

.janela2{

    background-color: yellow;
    border-radius: 15px;

}
.janela3{
   
    background-color: blue;
    border-radius: 15px;
  
}
html, body, h1 {
    margin:0;
    padding:0;
}
html{
    background-image:url("https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148808256.jpg?w=2000");
}
article, aside, section, header, footer, nav{
    display: block;
}
main{
    width: 660px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0 0 10px #666;
    margin:10px auto;
    padding:10px ;
    /*background-image: url("https://pbs.twimg.com/profile_images/1531810783117594626/ljZzGm4v_400x400.jpg");*/
}
#principal{
    background-color: white;
    border: solid 1px dotted red;
    margin-top: 20px;
    
   
}
section{
    height: 100px ;
    width: 100px;
    padding: 10px;
}
h1, p{
    color: red;
}
